.center-block {
	float: none;
}

body {
	background-color: #69E330;
}

.search-results {
	background-color: green;
}
.search-result:hover {
	background-color: orange;
}

.player {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}
