html, body {
    font-family: 'Jura', sans-serif;
}

body {
	background-color: #69E330;
}

.center-block {
	float: none;
}

.main-title {
    float: left;
    margin: 0;
    padding: 6px;
}

.container {
    clear: left;
}

.search-results {
	background-color: green;
    height: 480px;
    overflow: scroll;
    overflow-x: hidden;
}
.search-result:hover {
	background-color: orange;
}

.player {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.track {
    width: 80%;
    margin: 0 auto;
}

@media (max-width: 767px) {
    .track {
        width: 100%;
    }
}

@media (min-width: 769px max-width: 768px) {
    .track {
        width: 100%;
    }
}