html, body {
    font-family: 'Jura', sans-serif;
}

body {
	background-color: #69E330;
}

.center-block {
	float: none;
}

.main-title {
    float: left;
    margin: 0;
    padding: 6px;
}

.container {
    clear: left;
}

.search-results {
	background-color: green;
}
.search-result:hover {
	background-color: orange;
}

.player {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}